language: node_js
sudo: false
node_js:
  - 6
  - 7
matrix:
  allow_failures:
    - node_js: 7
os:
  - linux
# NodeJS v4 requires gcc 4.8
env:
  - NODE_ENV=travis CXX="g++-4.8" CC="gcc-4.8"
services:
  - mongodb
# gcc 4.8 requires ubuntu-toolchain-r-test
addons:
  ssh_known_hosts: "$SERVER"
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
      - gcc-4.8
      - clang
cache:
  directories:
    - node_modules
    - public/dist
before_install:
  - openssl aes-256-cbc -K $encrypted_6729f53900bc_key -iv $encrypted_6729f53900bc_iv
    -in deploy_key.enc -out deploy_key -d
  - npm i nsp -g
  - npm i snyk -g
  - "export PATH=$PATH:/usr/lib/chromium-browser/"
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3
before_deploy:
  - eval "$(ssh-agent -s)"
  - chmod 600 $TRAVIS_BUILD_DIR/deploy_key
  - ssh-add $TRAVIS_BUILD_DIR/deploy_key
# before_script:
#  - snyk auth $SNYK_TOKEN
#  - snyk test
after_script:
  - nsp check
  - snyk test
  - gulp test:coverage
  - node_modules/.bin/lcov-result-merger 'coverage/**/lcov.info' | node_modules/coveralls/bin/coveralls.js
deploy:
- provider: script
  skip_cleanup: true
  script: rsync -r -e "ssh -p $SSH_PORT -o StrictHostKeyChecking=no" --exclude='logs/app.log' --delete-after
    --quiet $TRAVIS_BUILD_DIR/ $USER@$SERVER:$DEPLOY_PATH
  on:
    branch: master
    node: '7.x'
- provider: script
  skip_cleanup: true
  script: ssh -p $SSH_PORT $USER@$SERVER -o StrictHostKeyChecking=no "cd $DEPLOY_PATH
    && gulp WeaosProd && pm2 restart all"
  on:
    branch: master
    node: '7.x'
