<div class="header" ng-controller="HeaderController as vm">
  <nav class="top" md-colors="{background: 'background-TOPNAV', color: 'primary-50'}">
    <div class="nav-wrapper">

      <!-- Mobile button -->
      <input type="checkbox" class="top-menu-toggle" id="top-menu-toggle">
        <label class="top-menu-toggle" for="top-menu-toggle" ><i class="fa fa-cog" aria-hidden="true"></i></label>
      </input>

      <!-- Navigation Top -->
      <ul class="navigation">

        <!-- Menu -->
        <li ng-repeat="item in vm.nav.items | orderBy: 'position'" ng-if="vm.nav.shouldRender(vm.authentication.user) && item.shouldRender(vm.authentication.user)" ng-switch="item.type" class="item">
          <a ng-switch-default aria-label="{{item.state}}" ui-sref="{{item.state}}">
            <i class="fa {{item.icon}}"></i>
          </a>
          <md-menu ng-switch-when="dropdown">
            <a aria-label="{{item.state}}" ng-click="$mdOpenMenu($event);">
              <i class="fa {{item.icon}}"></i>
            </a>
            <md-menu-content>
              <md-menu-item ng-repeat="subitem in item.items | orderBy: 'position'">
                <md-button aria-label="{{subitem.state}}" ui-sref="{{subitem.state}}">
                  <i class="fa {{subitem.icon}}"></i> {{subitem.title}}
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </li>

        <!-- Auth -->
        <li ng-show="vm.authentication.user" class="item">
          <a tooltipped href="#" ng-click="vm.authentication.signout();" data-position="bottom" data-delay="550" data-tooltip="Sign out"><i class="fa fa-sign-out red-text text-darken-4" md-colors="{color: 'primary-500'}" ></i></a>
        </li>
        <li ng-hide="vm.authentication.user" class="item">
          <a ui-sref="authentication.signin"><i class="fa fa-sign-in green-text text-darken-3" md-colors="{color: 'primary-500'}" ></i></a>
        </li>

      </ul>

      <!-- Page Title -->
      <div class="page-title"> <span kind="header" page-title></span></div>

    </div>
  </nav>
</div>
