<div class="header" ng-controller="HeaderController as vm">
  <nav class="top" md-colors="{background: 'background-TOPNAV', color: 'primary-50'}">
    <div class="nav-wrapper">

      <!-- Mobile button -->
      <input type="checkbox" class="top-menu-toggle" id="top-menu-toggle">
        <label class="top-menu-toggle" for="top-menu-toggle" ><i class="fa fa-cog" aria-hidden="true"></i></label>
      </input>

      <!-- Navigation Top -->
      <ul class="navigation">

        <!-- Menu -->
        <li ng-if="vm.nav.shouldRender(vm.authentication.user)" ng-repeat="item in vm.nav.items | orderBy: 'position'" ng-if="item.shouldRender(vm.authentication.user)" ng-switch="item.type" ng-class="{ active: $state.includes(item.state), drop: item.type === 'dropdown' }" class="item {{item.class}}" drop="item.type">
          <a ng-switch-when="button" class="dropdown-button"><i class="fa {{item.icon}}"></i></a>
          <md-menu ng-switch-when="dropdown-menu">
            <a ng-click="vm.openMenu($mdMenu, $event)" class="toggle-button"><i class="fa {{item.icon}}"></i></a>
            <md-menu-content width="2">
              <md-menu-item ng-repeat="subitem in item.items | orderBy: 'position'" ng-if="subitem.shouldRender(vm.authentication.user);">
                <a class="toggle-button" ui-sref="{{subitem.state}}"><i class="fa {{subitem.icon}}"></i></a>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          <a tooltipped ng-switch-default ui-sref="{{item.state}}" data-position="bottom" data-delay="550" data-tooltip="{{item.title}}" md-colors="{color: 'primary-500'}"><i class="fa {{item.icon}}"></i></a>
        </li>

        <!-- Auth -->
        <li ng-show="vm.authentication.user" class="item">
          <a tooltipped href="#" ng-click="vm.authentication.signout();" data-position="bottom" data-delay="550" data-tooltip="Sign out"><i class="fa fa-sign-out red-text text-darken-4" md-colors="{color: 'primary-500'}" ></i></a>
        </li>
        <li ng-hide="vm.authentication.user" class="item">
          <a ui-sref="authentication.signin"><i class="fa fa-sign-in green-text text-darken-3" md-colors="{color: 'primary-500'}" ></i></a>
        </li>

      </ul>

      <!-- Page Title -->
      <div class="page-title"> <span kind="header" page-title></span></div>

    </div>
  </nav>
</div>
