<section class="home">
  <md-content>
    <div layout="row" layout-align="center">
      <div flex="100">
        <center><img src="/modules/core/client/img/brand/logo-romeanet-dark.png" width="400px"></img></center>
      </div>
    </div>
    <div layout="row" layout-align="center">
      <div flex="40" style="color:rgba(0, 0, 0, 0.54);">
        <p style="text:align:justify"><b>roMEANet</b> is a full-stack Javascript open-source solution based on MEAN.js. It's just Mean.Js with an Other Design, Material, and JWT. We try to follow MeanJS on every update.</p>
        <p style="text:align:justify">The goal is to have a stack ready to start projects quickly, and to sell prototypes. The project in OpenSource <a href="https://github.com/weareopensource/roMEANet">is here</a> :).</p>

        <h3>State</h3>

        <ul>
          <li>A responsive design</li>
          <li>WSimple design to the taste of the day to sell your prototypes</li>
          <li>Jwt for quick use of the API ( mobiles apps ... )</li>
          <li>All based on MEAN.JS, a simple and solid base, any modification is studied</li>
        </ul>

        <h3>Roadmap</h3>

        <ul>
          <li>Quick pack to expose a Swagger (sometimes necessary to sell a prorotype of API)</li>
          <li>A New Stack (Angular X, <a href="https://github.com/weareopensource/waosAngular">client</a> <a href="https://github.com/weareopensource/waosNode">server</a> separation)</li>
        </ul>

        <h3>Installation</h3>

        <a href="https://github.com/weareopensource/roMEANet">Just follow the Readme :)</a>

      </div>
    </div>
  </md-content>
</section>
