<md-list class="article-comment-box">
  <md-list-item ng-repeat="comment in article.comments" class="md-2-line" ng-init="vm.editModel[$index]=false">
    <div class="md-list-item-text" ng-if="!vm.editModel[$index]">
      <p> <small>Posted on <span ng-bind="comment.created | date:'mediumDate'"></span> by <span ng-if="comment.user" ng-bind="comment.user.displayName"></span><span ng-if="!article.user">Deleted User</span><span class='blue' ng-show="vm.authentication.user.displayName===comment.user.displayName" ng-click="vm.editComment(comment._id,article._id,$index)"> edit </span><span class='danger' ng-show="vm.authentication.user.displayName===comment.user.displayName" ng-click="vm.deleteComment(comment._id,article._id)"> delete </span></small></p>
      <p>{{comment.body}}</p>
    </div>
    <form name="vm.form.commentEditForm" ng-if="vm.editModel[$index]" ng-submit="vm.submitComment(article._id,vm.form.commentForm.$valid)">
      <md-input-container md-no-float class="md-block">
        <input ng-model="vm.comment.body">
        <md-button type="submit" class="md-raised md-primary" ng-show="vm.comment.body">sent</md-button>
        <md-button class="md-raised md-primary" ng-click="vm.cancelEditComment($index)">cancel</md-button>
      </md-input-container>
    </form>
    <md-divider></md-divider>
  </md-list-item>
  <md-button class="md-raised md-primary" ng-click="vm.addComment($event)">Comment</md-button>
  <form class="input-comment-box" name="vm.form.commentForm" ng-submit="vm.submitComment(article._id,vm.form.commentForm.$valid)">
    <md-input-container md-no-float class="md-block">
      <input placeholder="Input your comment" ng-model="vm.comment.body">
      <md-button type="submit" class="md-raised md-primary" ng-show="vm.comment.body">sent</md-button>
    </md-input-container>
  </form>
</md-list>
