/* csslint ignore:start */

/*
 * Navbar
 */

.header nav.top {
  border-bottom: 1px solid #ddd;
  height: 50px !important;
  line-height: 50px !important;
  margin-bottom: 20px;
  padding: 0 1.25rem;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 46;
}

.header nav.top .nav-wrapper {
  padding-left: 60px;
}


.header nav.top .top-menu-toggle,
.header nav.top #top-menu-toggle {
  display: none;
}

/* Page title */

.header nav.top .page-title {
  margin: 0 auto;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* List */

.header nav.top ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header nav.top ul.navigation {
  float: right;
}

.header nav.top ul li {
  float: left;
  list-style-type: none;
}
.header .center-logo {
  left: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0 0 0;
  position: absolute;
  right: 0;
}

.header nav.top ul li.item {
  width: 50px;
}

.header nav.top ul li a,
.header nav.top ul li label {
  cursor: pointer;
  display: block;
  font-size: 1rem;
  padding: 0 15px;
  text-align: center;
}

.header nav.top ul a:hover {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,.1);
}

/* csslint ignore:stop */
