/*
 * home
 */

/* menu */

.menu {
  border-bottom: 1px solid #ddd;
  margin: 0 !important;
  padding: 0 !important;
}

.menu .part {
  margin: 10px 20px 0 20px;
}

.menu md-input-container.part {
  margin-top: 0 !important;
  padding: 5px;
}

.menu .md-errors-spacer {
  display: none;
}

.menu .md-button.square {
  margin: -12px 2px 0 2px !important;
}

.menu md-switch {
  margin-top: 5px !important;
}

/* Square button */

.md-button.square {
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: none !important;
  color: #7c7c7c;
  font-size: 120%;
  max-height: 45px;
  min-width: 45px;
  padding: 0 .3rem;
}
.md-button.square.active {
  background: #ddd;
}
